.responsive{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  }

.responsive:hover {
  background-color: #fff;
  opacity: 0.9;
  cursor: pointer 
  }

  #grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 0px;
    align-items: center;
    background-color: grey;
  }
  
  #grid>div {
    font-size: 30px;
    padding: .5em;
    color: #ffffff;
    background: grey;
    text-align: center;
    color: black;
  }

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .about-section {
    padding: 5px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }

  .fab fa-linkedin-in {  
    background-size:contain;
    display:inline-block;
    height:100%;
    width:100%;  
  }  
  .greeting-paragraph{
    text-align: center;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: white;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    margin-top: 0px;

  }
  .grid-item{
    padding-top: 30px;
  }

  .grid-item2{
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
  }

  .project-description{
    font-size: 15px;
  }






