.responsive{
    width: 80%;
    height: 80%;
  }

.responsive:hover {
  background-color: #fff;
  opacity: 0.8;
  cursor: pointer 
  }

.column {
  flex: 33.33%;
  height: 400px;
  padding: 10px;
  margin: 5px;
  background-color: #cccccc;
  text-align: center;
}

.container2 {
  display: flex;
}	
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .about-section {
    padding: 5px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 10%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10%;
  }

  .fab fa-linkedin-in {  
    background-size:contain;
    display:inline-block;
    height:100%;
    width:100%;  
  }  
  .greeting-paragraph{
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: white;
  }

  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    column-gap: 0px;
    border: 5px;
    border-color: black;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .grid-item2{
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }





